.tecnologies-header {
  margin-bottom: 3rem;
  font-size: 6rem;
}

.linkedin-logo {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.github-logo {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.tecno-styles p {
  font-size: 1.7rem;
}

.collaborative-style li {
  font-size: 1.5rem;
}

.tecno-styles li {
  list-style: none;
  display: inline-block;
  margin-left: 1rem;
}

.resume-style {
  color: black;
}

.resume-style:hover {
  color: #1e1ed1;
}

@media (max-width: 520px) {
  .tecnologies-header {
    font-size: 4rem;
  }
}

@media (max-width: 280px) {
  .tecnologies-header {
    font-size: 3rem;
  }
}

@media (max-width: 280px) {
  .tecno-styles {
    font-size: 0.7rem;
  }
}

.linkedin-logo {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.linkedin-logo:hover,
.linkedin-logo:focus,
.linkedin-logo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.github-logo {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.github-logo:hover,
.github-logo:focus,
.github-logo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
